modules = ["python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Library Management System"

[[workflows.workflow]]
name = "Library Management System"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33765
externalPort = 3002

[[ports]]
localPort = 35729
externalPort = 3001

[[ports]]
localPort = 37907
externalPort = 3003

[[ports]]
localPort = 39343
externalPort = 3000

[[ports]]
localPort = 40467
externalPort = 4200

[[ports]]
localPort = 45733
externalPort = 5000
